@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    text-align: center;
}

.header{
    margin: 0 auto;
    border-bottom: 2px solid black;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 10px 25px;
    max-width: 1024px;
}

.header nav a{
    display: inline-block;
    color: black;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    margin: 5px 15px;
}

.googleButton{
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    padding: 10px 8px;
}

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

img{
    width: 110px;
}